.news__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

img {
  width: 100%;
  height: 100%;
}

section {
  padding: 4rem 0;
}

.news__block-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pagination {
  justify-content: center;
  padding-top: 1rem;
  flex-wrap: wrap;
}


@media (max-width: 767px) {
  .news__block {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}